services:
  _defaults:
    autowire: false
    autoconfigure: false

  WapplerSystems\Meilisearch\:
    resource: '../Classes/*'
    exclude: '../Classes/Eid/*'

  controller:
    namespace: WapplerSystems\Meilisearch\Controller\
    resource: '../Classes/Controller/*'
    public: true
    autowire: true
    shared: false

  facets:
    namespace: WapplerSystems\Meilisearch\Domain\Search\ResultSet\Facets\
    resource: '../Classes/Domain/Search/ResultSet/Facets/*'
    exclude:
      - '../Classes/Domain/Search/ResultSet/Facets/{OptionBased/Hierarchy/Node.php,*/Abstract*}'
      - '../Classes/Domain/Search/ResultSet/Facets/*/*/*Facet.php'
      - '../Classes/Domain/Search/ResultSet/Facets/RangeBased/*/*RangeCount.php'
    public: true
    autowire: true
    shared: false

  viewhelper:
    namespace: WapplerSystems\Meilisearch\ViewHelpers\
    resource: '../Classes/ViewHelpers/*'
    public: true
    autowire: true

  backend_controller:
    namespace: WapplerSystems\Meilisearch\Controller\Backend\Search\
    resource: '../Classes/Controller/Backend/Search/*'
    public: true
    autowire: true
    tags: ['backend.controller']

  WapplerSystems\Meilisearch\Domain\Search\ApacheSolrDocument\Builder:
    public: true
    autowire: true

  WapplerSystems\Meilisearch\Domain\Search\Uri\SearchUriBuilder:
    public: true
    autowire: true

  WapplerSystems\Meilisearch\Domain\Variants\IdBuilder:
    public: true
    autowire: true

  # BE modules, plugins
  WapplerSystems\Meilisearch\Backend\SettingsPreviewOnPlugins:
    arguments:
      $flexFormService: '@TYPO3\CMS\Core\Service\FlexFormService'
    tags:
      - name: event.listener
        identifier: 'meilisearch.plugin.be.settings.preview'
        event: TYPO3\CMS\Backend\View\Event\PageContentPreviewRenderingEvent
  # END: BE modules

  viewhelpers_backend:
    namespace: WapplerSystems\Meilisearch\ViewHelpers\Backend\
    resource: '../Classes/ViewHelpers/Backend/*'
    public: true
    autowire: true

  WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\DataUpdateHandler:
    public: true
    arguments:
      $recordService: '@WapplerSystems\Meilisearch\Domain\Index\Queue\RecordMonitor\Helper\ConfigurationAwareRecordService'
      $frontendEnvironment: '@WapplerSystems\Meilisearch\FrontendEnvironment'
      $tcaService: '@WapplerSystems\Meilisearch\System\TCA\TCAService'
      $indexQueue: '@WapplerSystems\Meilisearch\IndexQueue\Queue'
      $mountPageUpdater: '@WapplerSystems\Meilisearch\Domain\Index\Queue\RecordMonitor\Helper\MountPagesUpdater'
      $rootPageResolver: '@WapplerSystems\Meilisearch\Domain\Index\Queue\RecordMonitor\Helper\RootPageResolver'
      $pagesRepository: '@WapplerSystems\Meilisearch\System\Records\Pages\PagesRepository'
      $dataHandler: '@TYPO3\CMS\Core\DataHandling\DataHandler'
  WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\GarbageHandler:
    public: true
    arguments:
      $recordService: '@WapplerSystems\Meilisearch\Domain\Index\Queue\RecordMonitor\Helper\ConfigurationAwareRecordService'
      $frontendEnvironment: '@WapplerSystems\Meilisearch\FrontendEnvironment'
      $tcaService: '@WapplerSystems\Meilisearch\System\TCA\TCAService'
      $indexQueue: '@WapplerSystems\Meilisearch\IndexQueue\Queue'

  WapplerSystems\Meilisearch\Domain\Site\SiteHashService:
    public: true
    autowire: true

  WapplerSystems\Meilisearch\IndexQueue\PageIndexerRequestHandler:
    public: true
    autowire: true

  WapplerSystems\Meilisearch\EventListener\EnhancedRouting\CachedUrlModifier:
    tags:
      - name: event.listener
        identifier: 'meilisearch.routing.cachedurl-modifier'
        event: WapplerSystems\Meilisearch\Event\Routing\BeforeVariableInCachedUrlAreReplacedEvent
  WapplerSystems\Meilisearch\EventListener\EnhancedRouting\CachedPathVariableModifier:
    tags:
      - name: event.listener
        identifier: 'meilisearch.routing.cachedurl-modifier'
        event: WapplerSystems\Meilisearch\Event\Routing\BeforeCachedVariablesAreProcessedEvent
  WapplerSystems\Meilisearch\EventListener\EnhancedRouting\PostEnhancedUriProcessor:
    tags:
      - name: event.listener
        identifier: 'meilisearch.routing.postenhanceduriprocessor-modifier'
        event: WapplerSystems\Meilisearch\Event\Routing\AfterUriIsProcessedEvent
  WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\EventListener\NoProcessingEventListener:
    arguments:
      $extensionConfiguration: '@WapplerSystems\Meilisearch\System\Configuration\ExtensionConfiguration'
      $eventDispatcher: '@Psr\EventDispatcher\EventDispatcherInterface'
    tags:
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.noprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.immediateprocessingeventlistener,meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\ContentElementDeletedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.noprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.immediateprocessingeventlistener,meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\RecordMovedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.noprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.immediateprocessingeventlistener,meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\RecordUpdatedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.noprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.immediateprocessingeventlistener,meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\VersionSwappedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.noprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.immediateprocessingeventlistener,meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\RecordDeletedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.noprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.immediateprocessingeventlistener,meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\PageMovedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.noprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.immediateprocessingeventlistener,meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\RecordGarbageCheckEvent
  WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\EventListener\ImmediateProcessingEventListener:
    arguments:
      $extensionConfiguration: '@WapplerSystems\Meilisearch\System\Configuration\ExtensionConfiguration'
      $eventDispatcher: '@Psr\EventDispatcher\EventDispatcherInterface'
    tags:
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.immediateprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\ContentElementDeletedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.immediateprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\RecordMovedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.immediateprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\RecordUpdatedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.immediateprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\VersionSwappedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.immediateprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\RecordDeletedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.immediateprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\PageMovedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.immediateprocessingeventlistener'
        before: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\RecordGarbageCheckEvent
  WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\EventListener\DelayedProcessingEventListener:
    arguments:
      $extensionConfiguration: '@WapplerSystems\Meilisearch\System\Configuration\ExtensionConfiguration'
      $eventDispatcher: '@Psr\EventDispatcher\EventDispatcherInterface'
    tags:
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\ContentElementDeletedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\RecordMovedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\RecordUpdatedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\VersionSwappedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\RecordDeletedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\PageMovedEvent
      - name: event.listener
        identifier: 'meilisearch.index.updatehandler.delayedprocessingeventlistener'
        event: WapplerSystems\Meilisearch\Domain\Index\Queue\UpdateHandler\Events\RecordGarbageCheckEvent

  # Register search components
  WapplerSystems\Meilisearch\Search\AccessComponent:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.search-component.access'
  WapplerSystems\Meilisearch\Search\AnalysisComponent:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.search-component.analysis'
  WapplerSystems\Meilisearch\Search\DebugComponent:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.search-component.debug'
  WapplerSystems\Meilisearch\Search\ElevationComponent:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.search-component.elevation'
  WapplerSystems\Meilisearch\Search\GroupingComponent:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.search-component.grouping'
  WapplerSystems\Meilisearch\Search\FacetingComponent:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.search-component.faceting'
  WapplerSystems\Meilisearch\Search\HighlightingComponent:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.search-component.highlighting'
  WapplerSystems\Meilisearch\Search\LastSearchesComponent:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.search-component.last-searches'
  WapplerSystems\Meilisearch\Search\RelevanceComponent:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.search-component.relevance'
  WapplerSystems\Meilisearch\Search\SortingComponent:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.search-component.sorting'
  WapplerSystems\Meilisearch\Search\SpellcheckingComponent:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.search-component.spellchecking'
  WapplerSystems\Meilisearch\Search\StatisticsComponent:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.search-component.statistics'
      - name: event.listener
        identifier: 'meilisearch.search-component.statistics-writer'
        method: 'writeStatisticsAfterSearch'

  ### Indexing
  WapplerSystems\Meilisearch\EventListener\PageIndexer\FrontendGroupsModifier:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.index.PageIndexer.FrontendUserAuthenticator'

  WapplerSystems\Meilisearch\IndexQueue\FrontendHelper\PageIndexer:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.index.FrontendHelper.PageIndexer.indexPageContentAfterCacheableContentIsGenerated'
  WapplerSystems\Meilisearch\Task\IndexQueueWorkerTaskAdditionalFieldProvider:
    public: true
    arguments:
      $siteRepository: '@WapplerSystems\Meilisearch\Domain\Site\SiteRepository'

  WapplerSystems\Meilisearch\EventListener\PageIndexer\AdditionalFieldsForPageIndexing:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.index.AdditionalFieldsForPageIndexing'

  WapplerSystems\Meilisearch\IndexQueue\FrontendHelper\PageFieldMappingIndexer:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.index.PageFieldMappingIndexer'

  WapplerSystems\Meilisearch\EventListener\Extbase\PersistenceEventListener:
    autowire: true
    tags:
      - name: event.listener
        identifier: 'meilisearch.index.ExtbaseEntityPersisted'
        method: 'entityPersisted'
      - name: event.listener
        identifier: 'meilisearch.index.ExtbaseEntityRemoved'
        method: 'entityRemoved'

  ###  EXT:meilisearch content objects
  WapplerSystems\Meilisearch\ContentObject\Classification:
    tags:
      - name: frontend.contentobject
        identifier: 'SOLR_CLASSIFICATION'
  WapplerSystems\Meilisearch\ContentObject\Content:
    tags:
      - name: frontend.contentobject
        identifier: 'SOLR_CONTENT'
  WapplerSystems\Meilisearch\ContentObject\Multivalue:
    tags:
      - name: frontend.contentobject
        identifier: 'SOLR_MULTIVALUE'
  WapplerSystems\Meilisearch\ContentObject\Relation:
    arguments:
      $tcaService: '@WapplerSystems\Meilisearch\System\TCA\TCAService'
    tags:
      - name: frontend.contentobject
        identifier: 'SOLR_RELATION'


  # Reports: Status
  WapplerSystems\Meilisearch\Report\:
    resource: '../Classes/Report/*'
    autoconfigure: true
