
table.tx_meilisearch-TCEforms {
	background: none;
}

table.tx_meilisearch-TCEforms a {
	display: none;
}

table.tx_meilisearch-TCEforms table.typo3-TCEforms-select-checkbox tbody {
	display: table-row-group;
}


/* scheduler layout fixes */
.tx_scheduler_mod1 .extra_fields_tx_meilisearch_scheduler_ReIndexTask table.typo3-TCEforms {
	width: auto;
}

.tx_scheduler_mod1 .extra_fields_tx_meilisearch_scheduler_ReIndexTask .tx_meilisearch-TCEforms td {
	padding-left: 0;
}
